<div class="text-center">
  <h4 class="white-text">How about a ...</h4>
  <h1 class="open-sans"><%= @cocktail.name.upcase %></h1>
  <div class="container fogged shadowed">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <%= image_tag @cocktail.picture.url(:medium), class: "img-circle shadowed" %>
      </div>
      <div class="col-xs-12 col-sm-6">
        <p>You'll need...</p>
        <% @cocktail.doses.each do |dose| %>
          <h3><%= dose.ingredient.name %></h3>
          <p>(<%= dose.description %>)</p>
          <%= link_to 'delete',dose_path, method: :delete, data: { confirm: "Are you sure?" } %>
        <% end %>
        <h3><%= link_to "Add something", new_cocktail_dose_path(@cocktail), class: "btn btn-primary" %></h3>
      </div>
    </div>
  </div>
</div>
